<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File List</title>
</head>
<body>
<h2>Uploaded Files</h2>
<ul>
    <li th:each="file : ${files}">
        <a th:href="@{/view/{id}(id=${file.id})}" th:text="${file.filename}"></a>
        <a th:href="@{/delete/{id}(id=${file.id})}" th:text="Delete"></a>
    </li>
</ul>

<h2>Upload File</h2>
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
</form>
</body>
</html>
